DATABASE_URL=postgresql://postgres:Abhiram@123@localhost:5432/ReachInbox
REDIS_URL=redis://default:S90EjMAdcUU4SoMQUzqO90ROP7q8MOwo@redis-16258.crce263.ap-south-1-1.ec2.cloud.redislabs.com:16258
NODE_ENV=development
PORT=3001
CORS_ORIGIN=http://localhost:3000

# Ethereal Email (Create account at https://ethereal.email)
ETHEREAL_USER=korey71@ethereal.email
ETHEREAL_PASS=EspJZJPureJe31W2sn

# Rate limiting (emails per hour)
MAX_EMAILS_PER_HOUR_PER_SENDER=100
MAX_EMAILS_PER_HOUR=500

# Worker configuration
WORKER_CONCURRENCY=2
DELAY_BETWEEN_SENDS_MS=2000

# Google OAuth
GOOGLE_CLIENT_ID=987904788747-p7e27o75vme730v6je1tc0c5gc15nsh3.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
