DATABASE_URL=
REDIS_URL=
NODE_ENV=development
PORT=3001
CORS_ORIGIN=

# Ethereal Email (Create account at https://ethereal.email)
ETHEREAL_USER=korey71@ethereal.email
ETHEREAL_PASS=EspJZJPureJe31W2sn

# Rate limiting (emails per hour)
MAX_EMAILS_PER_HOUR_PER_SENDER=100
MAX_EMAILS_PER_HOUR=500

# Worker configuration
WORKER_CONCURRENCY=2
DELAY_BETWEEN_SENDS_MS=2000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
